body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* headerstyling */

h1 {
    color: darkblue;
    font-size: 24px;
}

.h4-input {
    font-size: 12px;
    color: rgba(98, 96, 116, 0.377);
    position: absolute;
    top: 2px;
    left: 16px;
}


/* containerstyling */


.containerstyle {
    margin-bottom: 24px;
}


/* inputstyling */

input {
    background-color: white;
    height: 24px;
    border-radius: 4px;
    padding: 12px
}


.inputstyle {
    border: solid 1px rgb(215, 215, 215);
}




.container{
    background-color: rgb(228, 228, 228);

    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-1{
    display: flex;
    flex-direction: column;
    position: relative;
    
}


.container-2 {
    margin-bottom: 24px;
    position: relative;
}

.container-3 {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.container-4 {
    
}

.container-5 {
    display: flex;
    
}

.container-6 {
    display: flex;
    justify-content: space-between;
}

.container-7 {
    display: flex;
    justify-content: space-between;
}


.container-8 {
    display: flex;
    justify-content: space-between;
}


.container-9 {
    display: flex;
}



