@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: Arial;
}


/* headerstyling */

h1 {
    color: darkblue;
    font-size: 24px;
}
h4{
    margin-bottom: 4px;
    font-size: 12px;
}

.inputlabel {
    font-size: 12px;
    color: rgba(98, 96, 116, 0.377);
    position: absolute;
    top: 0px;
    left: 16px;
    
}

/* selectstyling */

select {
    border: 0;
}

input {
    border: 0;
}

.inputstyle {
    border: 0;
}



/* containerstyling */


.containerstyle {
    margin-bottom: 24px;
}


/* inputstyling */

input {
    background-color: white;
    height: 24px;
    border-radius: 4px;
    padding: 8px;
    

}

input {border:0;outline:0;}
input:focus {outline:none!important;}

input:focus {
    background-color: rgb(220, 224, 255);
}


.inputstyle {
    border: solid 1px rgb(215, 215, 215);
}

/* titlecontainer */

.titlecontainer {
    display: flex;
    justify-content: center;
}


.container{
    background-color: rgb(228, 228, 228);
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-1{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.container-2 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-3 {
    display: flex;
    
}

.boxcont3{
    background-color: rgb(0, 255, 81);
   flex: 0 0 50%;
}
.boxcont3 input{
    background-color: rgb(0, 255, 81);
   
}


.container-4 {
    
}

.container-5 {
    
}

.container-6 {
    display: flex;
}

.container-7 {
    display: flex;
    justify-content: space-between;
}


.container-8 {
    display: flex;
    justify-content: space-between;
}


.container-9 {
    display: flex;
}



